@use '@styles/_variables' as var;

.container {
  padding: 8px 16px;
  background-color: var(--color-white);
  border-radius: 8px;

  @include var.mq('sm') {
    padding-bottom: 12px;
    overflow-x: scroll;
  }
}

.title {
  padding: 8px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 8px;
}

.flexible-list {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  justify-content: space-between;
  margin-top: 4px;

  @include var.mq('md') {
    gap: 4px;
    justify-content: center;
  }

  @include var.mq('sm') {
    flex-flow: row;
    gap: 4px;
    min-width: max-content;
    margin-top: 0;
  }
}
