@use 'sass:map';
@use '@styles/_variables' as var;

.main {
  padding: 2rem 2rem 1rem;

  @include var.mq('md') {
    padding: 1rem 1rem 0.5rem;
  }

  @include var.mq('sm') {
    padding: 1rem 0.5rem 0.5rem;
  }
}

.page-title {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;

  @include var.mq('md') {
    font-size: 1.5rem;
  }

  @include var.mq('sm') {
    font-size: 1rem;
  }
}

.page-contents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;

  // MEMO: 画面幅が小さい場合は逆順縦並びにする
  @include var.mq('sm') {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.sub-section {
  width: 100%;

  @include var.mq('md') {
    max-height: 10rem;
    overflow-y: scroll;
  }

  @include var.mq('sm') {
    max-height: 120px;
  }
}

.main-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;

  @include var.mq('sm') {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
}

.large-content {
  width: calc(100% - 180px - 1rem);

  @include var.mq('sm') {
    width: 100%;
  }
}

.small-content {
  width: 180px;

  @include var.mq('sm') {
    width: 100%;
  }
}
