@use '@styles/_variables' as var;

.container {
  padding: 8px 1rem;
  background-color: var(--color-white);
  border-radius: 8px;
}

.end-item {
  width: 100%;
  margin-top: 0.5rem;
  text-align: right;
}

.link-text {
  color: var(--color-primary);
  text-decoration: underline;
}

.title {
  padding: 8px;
  font-weight: bold;
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 8px;
}

.flexible-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  margin-top: 4px;

  @include var.mq('sm') {
    display: grid;
    grid-template: none / repeat(2, 1fr);
    gap: 0.5rem;
  }
}
